<div class="container">
  <div class="stt-wrapper">
    <!-- Mode toggle -->
    <mat-button-toggle-group [(ngModel)]="mode" [hideSingleSelectionIndicator]="true" class="mode-toggle rounded-toggle" [disabled]="isLoading" (change)="switchMode($event.value)">
      <mat-button-toggle value="Sample" checked>Sample</mat-button-toggle>
      <mat-button-toggle value="Upload">Upload</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- Sample mode -->
    <ng-container *ngIf="mode === 'Sample'">
      <iframe width="560" height="315" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
      <button class="custom-btn" (click)="transcribe()" [disabled]="isLoading">
        {{ isLoading ? 'Loading...' : 'Transcribe' }}
      </button>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="mb-3"></mat-progress-bar>
    </ng-container>
    <!-- Upload mode -->
    <ng-container *ngIf="mode === 'Upload'">
      <div class="upload-container">
        <input type="file" (change)="onFileChange($event)" accept="audio/*">
      </div>
      <button class="custom-btn" (click)="transcribe()" [disabled]="isLoading || !isFileValid">
        {{ isLoading ? 'Loading...' : 'Transcribe' }}
      </button>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="mb-3"></mat-progress-bar>
    </ng-container>
    <!-- Transcription Result -->
    <div *ngIf="documentTitle" class="transcription-result" [class.visible]="true">
      <app-info [title]="documentTitle"></app-info>
      <app-entities [entities]="entities"></app-entities>
      <app-segments [segments]="segments"></app-segments>
    </div>
  </div>
</div>