.entities-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.entity-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entity-title {
  margin: 0;
  color: gray;
  font-size: 1rem;
  font-weight: bold;
}
