.document-title {
  margin-bottom: 2rem;

  h2, p {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
  }
}

.info-title {
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
}